<p id="notice"><%= notice %></p>

<p>
  <strong>Ulr:</strong>
  <%= @url.ulr %>
</p>

<p>
  <strong>Site:</strong>
  <%= @url.site %>
</p>

<p>
  <strong>Ssl enabled:</strong>
  <%= @url.ssl_enabled %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
