<%= form_for(@client, :remote => true, :html => {:class => "form-horizontal", :role => "form"}) do |f| %> 
<div class="modal-body">
  <div id="form-errors">
    <%= modal_flash(@client, "client") %>
  </div>
  <%= f.hidden_field :stripe_customer_id %>
  <%= f.hidden_field :stripe_card_token %>
  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <%= render "credit_card_fields", :f => f %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
</div>
<%= render partial: "global/forms/modal_footer", locals: { :f => f } %>
<% end %>

