<h1>Listing domains</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Client</th>
        <th>Site ID</th>
        <th>Ssl enabled</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><%= domain.url %></td>
          <td><%= domain.site.client.name %></td>
          <td><%= domain.site.id %></td>
          <td><%= domain.ssl_enabled %></td>
          <td><%= link_to 'Show', domain %></td>
          <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
          <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Domain', new_domain_path %>
