<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @subscription.client %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subscription.description %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
