<h1>Listing plans</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Remote Plan ID</th>
        <th>Price</th>
        <th>Billing Interval</th>
        <th>Description</th>
      </tr>
    </thead>
  
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.remote_id %></td>
          <td><%= number_to_currency(plan.price) %></td>
          <td><%= plan.interval_count %> <%= plan.interval %></td>
          <td><%= plan.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
