<%= form_for([@site], html: { :class => "form-horizontal", :role => "form" }) do |f| %>
<%= f.hidden_field :client_id %>  
<div class="modal-body">
  <div class="form-group">
    <%= f.label :client, :class => "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <p class="form-control-static"><%= @client.name %></p>
    </div>
  </div>
    <%= f.fields_for :domains do |domain| %>
        <%= render 'domain_fields', :f => domain %>
    <% end %>
</div>
<%= render partial: "global/forms/modal_footer", locals: { :f => f } %>
<% end %>
