<h1>Listing sites</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Active URLs</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= site.id %></td>
          <td><%= site.client.name %></td>
          <td><%= site.domains.count %></td>
          <td><%= link_to 'Show', sites_path(site) %></td>
          <td><%= link_to 'Edit', edit_site_path(site) %></td>
          <td><%= link_to 'Destroy', site_path(site), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
