<h1>Listing sites</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Active URLs</th>
      </tr>
    </thead>
  
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= site.id %></td>
          <td><%= site.client.name %></td>
          <td><%= site.domains.count %></td>
          <td>
            <%= link_to content_tag(:i, " Edit Site", :class => "icon-edit"), edit_site_path(site, :format => :js), :class=>"btn btn-primary btn-xs modal-form", :remote => true, data:{ toggle: "modal", target: "#modal-window" } %>
            <%= link_to content_tag(:i, " Delete Site", :class => "icon-remove"), site, method: :delete, :class=>"btn btn-danger btn-xs", data: { title: "Delete Site", message: "Are you sure you want to delete this site?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
