<!DOCTYPE html>
<html>
<head>
  <title>HostingPanel</title>
  
  <!-- CSS -->
  
  <%= stylesheet_link_tag "https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" %>
  <%= stylesheet_link_tag "application" %>
  
  <!-- End CSS -->
  <!-- JavaScript -->
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" %>
  
  <!-- End JavaScript -->  

  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Binary IT Systems</a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Clients", :clients %></li>
            <li><%= link_to "Subscriptions", :subscriptions %></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Manage Sites", :sites %></li>
                <li><%= link_to "Manage Subscriptions", :subscriptions %></li>
                <li><%= link_to "Manage Domains", :domains %></li>
              </ul>
            </li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Plans", :plans %></li>
                <li><%= link_to "Service Categories", :service_categories %></li>
              </ul>
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <%= render "global/flash" %>
    <%= yield %>
  </div>
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div id="modal-form-content" class="modal-content">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /#modal-window -->
</body>
</html>
